/*navbar css*/
#profileDropdown img,
#profileDropdown span {
    cursor: pointer;
}
.avatar {
    height: 40px;
    width: 40px;
}

.navbar{
    background-color: #fff; 
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

@media (max-width:767.98px) {

    .navbar {
        width: 100vw;
    }
}