

*,
::after,
::before {
    box-sizing: border-box;
}

.button {
  color: white;
  border-radius: 5px;
  background: linear-gradient(110deg, #ff3c00 0%, #ff8000 100%);
  border: 1px solid #ff6a00;
  display: inline-block;
  padding: 10px 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}



.button:focus,
.button:active {
  color: white;
  
  border: 1px solid #ff6a00;
 
}



h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */

/* Ensure the body and html take up the full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Layout Wrapper */
  .wrapper {
    display: flex;
    height: 100vh; 
    overflow: hidden;
  }
  
  /* Sticky Sidebar */
  app-sidebar {
    position: sticky;
    top: 0;
    height: 100vh; 
    overflow-y: auto; 
    z-index: 999; /* Ensure the sidebar is below the header */
    border-right: 1px solid #f0f0f0;
  }
  
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
  }
  
  /* Sticky Header */
  app-header {
    position: sticky;
    top: 0;
    z-index: 1000; 
    border: 1px solid #f0f0f0;
  }
  
  /* Scrollable Content */
  .content {
    flex: 1;
    overflow-y: auto; 
    padding: 20px;
  }



.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background:#fafafb;
}


@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}
.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}