
/*sidebar css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'boxicons/css/boxicons.min.css';
*,
::after,
::before {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}



#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: #fff;
    transition: all 0.35s ease-in-out;
    
}


.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    padding: 10px;
    color: #000000;
    font-size: 1.35rem;
    font-weight: 600;
}

.sidebar-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #000000;
    font-size: .8rem;
    padding: 1.8rem 1.5rem .375rem;
}
.sidebar-link.active {
    background-color: #e0efff; 
    color: #007bff; 
    border-right:1px solid #007bff; 
}

.make {
    border-right:1px solid #007bff;
    background-color: #e0efff;
    
}

.betwwen{
    padding-left: 15px;
}
a.sidebar-link {
    padding: .825rem 1.625rem;
    color: #161616;
    position: relative;
    display: block;
    font-size: 0.975rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}




@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}




#sidebar.collapsed {
    margin-left: -264px;
  }
  
  @media (max-width: 767.98px) {
    .js-sidebar {
      margin-left: -264px;
    }
  
    #sidebar.collapsed {
      margin-left: 0;
    }
  }

