
<body>
    <div class=" font-sans text-dark  d-flex align-items-center justify-content-center vh-100 px-4">
        <div class="shadow-lg rounded p-4 max-w-1000 w-100 bg-white ">
          <div class="row align-items-center ">
            <!-- Left Image Section -->
            <div class="col-md-6 d-flex justify-content-center">
              <img src="../../../assets/forgot-the-password-illustration-concept-on-white-background-vector.jpg" class="img-fluid w-100" alt="Login Illustration" />
            </div>
            <!-- Right Form Section -->
            <div class="col-md-6">
              <form  class="w-100"[formGroup]="forgetForm" >
                <!-- Title -->
                <div class=" mb-4">
                  <h3 class="login-title fw-bold  text-center">Mot de passe oublié</h3>
                  Entrer votre email pour recevoir 
                  les instructions de réinitialisation.
                </div>
                <!-- Username Input -->
                <div class="mb-3">
                  <div class="input-group">
                    <input formControlName="email" type="text" class="form-control border-bottom" placeholder="Enter email"/>
                    <span class="input-group-text bg-transparent border-bottom">
                      <i class="bi bi-person-fill text-muted"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="errorMsg" class="alert alert-danger mt-3" role="alert">
                  {{ errorMsg }}
                </div>
                <!-- Submit Button -->
                <div class="d-flex gap-2  mt-2">
                  <button type="submit" class="btn btn-primary w-25 p-2 rounded" [disabled]="isLoading" (click)="submit()">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!isLoading">Envoyer</span>
                  </button>
                  <button [routerLink]="'/login'" type="submit" class="btn btn-secondary w-25 p-2 rounded text-white" >
                  Annuler</button>

                </div>
                
               
              </form>
            </div>
          </div>
        </div>
    </div>
    <footer class="footer">
      <div class="footer-container">
          <div class="footer-left">
              <img src="../../../assets/flag.png" alt="Drapeau Tunisien" class="flag">
              <div class="footer-text">
                  <small>République Tunisienne <br>
                  Ministère de l’Enseignement Supérieur et de la Recherche Scientifique</small>
              </div>
          </div>
          
      </div>
      <div class="footer-right">
        © Copyright 2025 ISET KELIBIA. Tous droits réservés.
    </div>
  </footer>
</body>
      